<turbo-frame class="" id="current-feed" target="_top">

    {% for i_url in feed %}
    <div>
        <div class="bg-gray-200 border-r-2 border-l-2 border-gray-300 w-5/6">
            <div>
                <span class="text-lg text-bold text-black">{{ i_url["description"] }}</span>
                <span class="text-gray-500">(thislinktoclickon.com)</span>
            </div>
            <div>
                <span class="text-purple-600">4 shares</span>
                <span class="text-black"> | 12h</span>
            </div>
        </div>
        {% endfor %}
        <div class="bg-gray-200 border-r-2 border-l-2 border-gray-300 w-5/6">
            <div>
                <span class="text-lg text-bold text-black">First Article Title</span>
                <span class="text-gray-500">(thislinktoclickon.com)</span>
            </div>
            <div>
                <span class="text-purple-600">4 shares</span>
                <span class="text-black"> | 12h</span>
            </div>
        </div>
    </div>
</turbo-frame>