<turbo-frame class="" id="current-feed" target="_top">
    <div class="my-4">
        {% for i_url in feed %}
        <div class="">
            <div class="bg-gray-200 py-4 px-2 border-r-2 border-l-2 border-b-2 border-gray-300 w-full">
                <div>
                    <span class="text-lg text-bold text-black">
                        <a href={{ i_url["external_urls"][0] }}>
                            <b>{{ i_url["title"] }}</b>
                        </a>
                    </span>
                    <span class="text-gray-500">
                        <a href={{ url_get_host(i_url["external_urls"][0]) }}>
                            ({{ url_get_host(i_url["external_urls"][0]) }})
                        </a>
                    </span>
                </div>
                <div>
                    <span class="text-purple-600">4 shares</span>
                    <span class="text-black"> | 12h</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</turbo-frame>